* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    display:flex;
    justify-content: space-between;
    background-color: rgb(136, 136, 208);
    padding :30px; 
    margin-left: auto;
    gap: 10px ;
}
.nav_cont{
    display: flex ;
    gap: 1.5rem ;
    margin-left: auto;

}
a{
    color: rgb(8, 8, 8);
    text-decoration: none ;
}
.Container{
    display:grid;
}